.row {
	display: flex;
	width: 100%;
}

.grid {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.card.flipped{
	width: 112px;
	height: 168px;
	background-color: #000;
	background-repeat: no-repeat;
}

.image.flipped {
	display: none;
}
