body {
	background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#header {
	margin:auto;
	width:80%;
}

.row {
	display: flex;
	width: 100%;
}

.grid {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#container {
	margin:auto;
	width:80%;
	background-color: #8B0000;
	padding:20px;
	border-radius:20px;
}

.my-card{
	width: 112px;
	height: 168px;
}


.card {
	width: 112px;
	height: 168px;
	margin: 2px;
}

.card.flipped {
	background-color: #000;
	background-repeat: no-repeat;
}

.image {
	width: 112px;
	height: 168px;
}

.image.flipped {
	display: none;
}
