body {
	background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#header {
	margin:auto;
	width:80%;
}

.row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.grid {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#container {
	margin:auto;
	width:80%;
	background-color: #8B0000;
	padding:20px;
	border-radius:20px;
}

.my-card-col {
	align-content: center;
	align-self: center;
	flex-grow: 1;
	font-size: 24px;
	font-weight: bold;
	min-width: 112px;
	margin: 2px;
	text-align: center;
}

.my-image {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 112px;
	height: 168px;
}


.card {
	flex-grow: 0;
	width: 112px;
	height: 168px;
	margin: 2px;
}

.card.flipped {
	background-color: #000;
	background-repeat: no-repeat;
}

.image {
	width: 112px;
	height: 168px;
}

.image.flipped {
	display: none;
}
